main{
    display: flex;
    flex-direction: column;
}
footer {
    position: relative; 
}

section div{
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}


section div video{
    width: 90%;
    height: auto;
}
section audio{ 
    width: 100%; 
}

section p a{
    color: rgb(59, 59, 248);;
    text-decoration: underline;
}

section p a:hover{
    color: blue;
    text-decoration: underline;
}

main a:visited {
    color: rgb(59, 59, 248);;
}

img{  
    max-width: 1000px;
    width: 100%;
    height: auto;
}