main{
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #55c77b;
    color: #000000;
    padding: 0.5rem;
    text-align: center;
}
