body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dafce5;
}
header {
    background-color: #46a866;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 1rem;
}
h1 {
    margin-top: 0;
}
header h2{
    margin-top: 0;
    font-size: small;
}
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    background-color: #c4f1c3;
    margin-right: 20px;
    border-radius: 10px;
    transition: transform 0.1s ease-in-out;
    
}

nav ul li a{ 
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 2rem 0.5rem 0;
}

nav ul li:hover { 
    margin-right: 20px; 
    transform: scale(1.1);
    cursor: pointer;
}

a{
    color: #000000;
    text-decoration: none;
}

main a{
    display: block;
    width: 100%;
    height: 100%;
}

main a:visited {
    color: #000000;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 1rem;
}
article {
    position: relative;
    background-color: #c4f1c3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem; 
    transition: transform 0.2s ease-in-out;
}
article h2{
    margin-top: 0;
    padding: 1rem 0 0 1rem;
}
article p{ 
    padding: 0 0 1rem 1rem;
}
article:hover {
    transform: scale(1.05);
    cursor: pointer;
}

section {
    background-color: #c4f1c3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px; 
}

footer{
    background-color: #55c77b;
    color: #000000;
    padding: 0.5rem;
    text-align: center;
    margin-top: auto;
}


