
@media only screen and (max-width: 600px) {
    h1{
        font-size: x-large;
    }
    
    main{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    } 

    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main ul{
        display: flex;
        flex-direction: column; 
    }

    div ul{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        margin-left: 1rem;
    }
    div{
        display: flex;
        flex-direction: column;
    }

    div ul li{
        text-decoration: none;
    }
    footer {
        position: relative;
    }

    section section img{
        max-width: 100%;
    }
    
}